.section5 {
  background-color: #01100b;
  padding: 350px 0px 100px 0px;
  .section5-header {
    width: 989px;
    margin: auto;
    max-width: 100%;
    h1 {
      margin: auto;
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .section5-cards {
    padding-top: 150px;
    .section5-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      .section5-card-image {
        width: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        .section5-id {
          position: absolute;
          left: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          width: 40px;
          height: 40px;
          background: #f2bc1b;
          backdrop-filter: blur(4px);
          border-radius: 50%;
          p {
            margin-bottom: 0px;
            color: #05422c;
          }
        }
      }
      .section5-card-text {
        text-align: center;
        h3 {
          color: #fff;
          padding: 40px 0px 10px 0px;
        }
        p {
          width: 408px;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .section5 {
    .section5-header {
      text-align: center;
      h1 {
        font-size: 40px;
        letter-spacing: 1px;
      }
    }
  }
  .section5-card-text {
    text-align: center;

    p {
      width: 100% !important;
    }
  }
}
