.payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 420px;
  gap: 26px;
  width: 100%;
  height: 86px;
  background: #f4f4f4;
}
.payment-header .payment-header-line {
  width: 74.5px;
  height: 0px;
  border: 1px solid #c3d2cc;
}
.payment-header .stage {
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment-header .stage.active .stage-icon {
  background: #05422c;
}
.payment-header .stage.active p {
  color: rgb(6, 7, 9);
  font-weight: 700;
}
.payment-header .stage .stage-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-header .stage p {
  font-size: 14.5px;
  margin-bottom: 0px;
}