.ProductInfoSection {
  width: 550px;
}
.ProductInfoSection p {
  letter-spacing: 2px;
  font-size: 14px;
}
.ProductInfoSection h2 {
  color: #1a1e26;
}
.ProductInfoSection .addons_row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.ProductInfoSection .addons_row .addon_ {
  letter-spacing: 1px;
}