.section8 {
  padding: 50px 0px;
}
.section8 .section8-line {
  border-top: 1px solid rgba(113, 115, 120, 0.7058823529);
  padding-bottom: 50px;
}
.section8 .section8-card {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  width: 90%;
  height: 656px;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 12px;
}
.section8 .section8-card .section8-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 240px;
  background: #f2f6f4;
  border-radius: 8px;
}
.section8 .section8-card .section8-card-text h2 {
  color: #1a1e26;
  margin-bottom: 20px;
}
.section8 .section8-card .section8-card-text p {
  font-size: 14px;
  color: #717378;
}

@media screen and (max-width: 990px) {
  .section8-card-text {
    text-align: center;
  }
}