.stage2-shipping .stage2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c8c9cb;
  padding-bottom: 20px;
}
.stage2-shipping .stage2-header p {
  margin-bottom: 0px;
}
.stage2-shipping .stage2-header h4 {
  color: #060709;
  font-size: 20px;
}
.stage2-shipping .stage2-inputs-main {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.stage2-shipping .stage2-inputs-main input[type=text] {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;
  height: 48px;
  border: 1px solid #eae9e9;
  border-radius: 8px;
  outline: none;
}
.stage2-shipping .stage2-inputs-main .input-p {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #46494f;
}
.stage2-shipping .stage2-inputs-main textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  height: 98px;
  border: 1px solid #eae9e9;
  border-radius: 8px;
  outline: none;
}