.payment-stage2 {
  margin-bottom: 250px;
}
.payment-stage2 .payment-stage2-main {
  display: flex;
  justify-content: space-around;
  padding: 32px 0px;
  gap: 30px;
}

@media screen and (max-width: 990px) {
  .payment-stage2-main {
    flex-direction: column;
    align-items: center;
  }
  .payment-stage2-main .payment-stage1-rightside {
    width: 90%;
    margin: auto;
    min-width: unset;
  }
}
@media screen and (max-width: 590px) {
  .payment-stage2-main .stage2-inputs-main .more-information .more-information-topside {
    flex-direction: column;
  }
  .payment-stage2-main .stage2-inputs-main .more-information .more-information-topside div {
    width: 100%;
  }
  .payment-stage2-main .payment-stage1-rightside {
    width: 100%;
    margin: auto;
    min-width: unset;
  }
  .payment-stage2-main .payment-stage1-rightside .coupon-code {
    gap: 5px !important;
  }
  .payment-stage2-main .payment-stage1-rightside .coupon-code input[type=submit] {
    width: 70px !important;
    font-size: 9px;
    border-radius: 9px !important;
  }
}