.CategoryPage {
  padding-bottom: 350px;
}

.Category_Starter {
  background: #f2f6f4;
}
.Category_Starter .container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: main_m;
  font-size: 20px;
  color: #060709;
  gap: 20px;
  height: 95px;
}
.Category_Starter .container .img_i_block_ {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  padding: 8px;
  margin-right: 15px;
  margin-left: 10px;
}
.Category_Starter .container .img_i_block_ img {
  height: 100%;
}
.Category_Starter .container .HeaderLine {
  height: 30px;
  width: 2px;
  background: #c3d2cc;
  display: block;
  margin-left: auto;
}
.Category_Starter .container .Category_Starter_Option {
  display: flex;
  align-items: center;
}

.CategoryPageRow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}