@import "../../../colors.scss";

.Head_Image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    border-radius: 20px;
    border: 2px solid $White_;
    img {
        height: 300px;
        max-height: 300px;
        max-width: 300px;
    }
}
.Select_Images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    .Image_Selector {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        aspect-ratio: 1;
        border-radius: 10px;
        background: $White_;
        padding: 10px;
        img {
            height: 100%;
        }

        &:hover {
            border: 2px solid $Lime;
        }
    }
    .Image_SelectorActive {
        border: 2px solid $Lime;
    }
}
@media (max-width: 714px) {
    .ImageSection {
        width: 100%;
    }
    .Head_Image {
        width: 100%;
        margin: auto;
    }
}
