@import "../../../../../../../colors.scss";

.ProductsRow {
    margin-top: 30px;
    .starter {
        font-size: 24px;
        font-family: main_r;
        color: $BlackAlt;
        letter-spacing: 0px;
        margin-bottom: 30px;
    }
    .ProductsRowwer {
        display: flex;
        align-items: center;
    }
}
.section2-products-main-slider {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    .toLeft,
    .toRight {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 30px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
        cursor: pointer;

        z-index: 8;
    }
    .toLeft {
        left: 30px;
    }
    .section2-products-main {
        display: flex;
        align-items: center;
        position: relative;
        scroll-behavior: smooth;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .section2-products-main-row {
            display: flex;
            gap: 50px;
            align-items: center;
        }
    }
}
