.payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0px;
  gap: 26px;
  width: 100%;
  height: 86px;
  background: #f4f4f4;
  .payment-header-line {
    width: 74.5px;
    height: 0px;
    border: 1px solid #c3d2cc;
  }

  .stage {
    display: flex;
    align-items: center;
    gap: 10px;
    &.active {
      .stage-icon {
        background: #05422c;
      }
      p {
        color: rgba(6, 7, 9, 1);

        font-weight: 700;
      }
    }
    .stage-icon {
      width: 30px;
      height: 30px;
      min-width: 30px;

      background: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-size: 14.5px;
      margin-bottom: 0px;
    }
  }
}
