@import "../../colors.scss";
.product-card {
  padding: 0px;
  width: 291px;
  background: transparent;
  .product-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    background: #f4f4f4;
    position: relative;
    border-radius: 8px;
    user-select: none;
    overflow: hidden;
    img {
      width: 164px;
      height: 164px;
      position: relative;
      z-index: 1;
    }
    .product-card-whitebg {
      position: absolute;
      width: 369px;
      height: 186px;
      left: calc(50% - 369px / 2);
      top: 131px;
      left: 50%;
      background: #e5e7e7b6;
      opacity: 0.4;
      transform: translateX(-50%);
      box-shadow: 0px 0px 20px rgba(229, 240, 236, 0.1);
      border-radius: 50%;
    }
    .out-of-stock {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      position: absolute;
      width: 152px;
      height: 64px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: rgba(26, 30, 38, 0.3);
      backdrop-filter: blur(4px);
      border-radius: 100px;
      z-index: 2;
      p {
        color: #fff;
        position: relative;
        margin-bottom: 0px;
      }
    }
  }
  .product-text {
    .product-text-header {
      padding: 30px 0px 15px 0px;
      text-align: center;
      h3 {
        font-size: 18px;
        height: 60px;
      }
      .product-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        .sm-line {
          margin: 0px 15px;
          width: 12px;
          height: 0px;
          border: 1px solid #c8c9cb;
          transform: rotate(90deg);
        }
        h4 {
          margin: 0px 10px;
        }
        p {
          margin: 0;
          color: rgba(200, 201, 203, 1);
        }
      }
      .sativa-procentage {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 92px;
        height: 28px;
        border-radius: 4px;
        margin: 10px auto 0px auto;
        p {
          height: 100%;
          width: 100%;
          margin-bottom: 0px;
          font-size: 12px;
          background: #f2f6f4;
          padding: 4px 10px 5px;
          color: rgba(5, 66, 44, 1);
        }
      }
    }
    .product-text-middle {
      text-align: center;
      h3 {
        color: #eb2606;
        span {
          color: #c8c9cb;
          font-size: 14px;
          text-decoration: line-through;
        }
        .gramSpan {
          text-decoration: none;
        }
      }
      .product-weights {
        display: flex;
        gap: 20px;
        justify-content: center;
        div {
          padding: 7px 10px;
          gap: 12px;
          background: #ffffff;
          border: 1px solid #f4f4f4;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;
          p {
            color: #1a1e26;
            margin-bottom: 0px;
            font-size: 12px;
          }
        }
      }
      .add-cart {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
        width: 140px;
        height: 40px;
        background: #17af26;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        outline: none;
        margin: 20px auto 10px;
        font-family: main_r;
        position: relative;
        transition: 0.1s;
        border: 0px;
      }
      .add-cart:active {
        background-color: #46924d;
      }
    }
  }
}
.see_Details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 11px;
  width: 140px;
  height: 35px;
  background: transparent;
  border-radius: 100px;
  color: #17af26;
  font-size: 14px;
  border: 0px;
  outline: none;
  margin: 0px auto;
  font-family: main_r;
  margin-top: 10px;
}
.adding {
  pointer-events: none;
}
.adding::before {
  content: "Adding";
  position: absolute;
  background: $Lime;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}
