@import "../../../../../colors.scss";
.payment-stage1-rightside {
  padding: 24px;
  gap: 20px;
  width: 420px;
  height: auto;
  min-width: 420px;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

  .payment-rightside-stage1-header {
    border-bottom: 1px solid #e8e6e6;

    .price-info {
      display: flex;
      justify-content: space-between;
    }
    .coupon-code {
      gap: 32px;
      display: flex;
      padding: 20px 0px;
      input[type="text"] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 24px;
        height: 48px;
        background: #ffffff;
        border: 1px solid #f4f4f4;
        border-radius: 8px;
        outline: none;
        &::placeholder {
          color: #c8c9cb;
        }
      }
      input[type="submit"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        gap: 8px;
        width: 137px;
        height: 48px;
        background: #f3fbf4;
        border-radius: 100px;
        color: #17af26;
        border: 0px;
      }
    }
  }
  .payment-rightside-stage1-middle {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 10px;
    label {
      user-select: none;
      display: flex;
      align-items: start;
      padding: 5px 0px;
      cursor: pointer;

      input {
        transform: translateY(6px);
        margin-right: 10px;
        cursor: pointer;
      }
      p {
        font-size: 14px;
      }
    }
    a {
      margin: 20px 0;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        gap: 16px;
        width: 100%;
        height: 56px;
        background: $Lime;
        border-radius: 100px;
        outline: none;
        border: 0px;
        margin: 0;
        transition: 0.2s;
      }
      .blocked_B {
        background: #c8c9cb;
      }
      p {
        margin-bottom: 0px;
        font-size: 17px;

        color: #fff;
      }
      .line {
        width: 12px;
        height: 0px;
        border: 1px solid #ffffff;
        transform: rotate(90deg);
      }
    }
  }

  .payment-rightside-stage1-footer {
    padding: 20px 0px;
    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 1px;
    }
    .payment-methods {
      display: flex;
      gap: 10px;
      div {
        background: #ffffff;
        border: 1px solid #f4f4f4;
        border-radius: 6px;
      }
    }
  }
}
