.section2 {
  padding: 100px 0px;
}
.section2-header {
  text-align: center;
  padding: 0px 50px;
  h1 {
    line-height: 110%;
    text-align: center;
    letter-spacing: -4px;
    color: #1a1e26;
    width: 948px;
    max-width: 100%;
    margin: auto;
  }
  .section2-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 65px 0px;
    div:nth-child(1) {
      border: 1px solid #05422c;
      background: #f2f6f4;

      p {
        color: #05422c;
      }
    }
    div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      gap: 12px;
      width: 378.67px;
      height: 48px;
      border-radius: 100px;
      transition: 0.3s;
      border: 1px solid #f4f4f4;
      p {
        margin-bottom: 0px;
        transition: 0.3s;
        color: black;
      }
    }
    div:hover {
      border: 1px solid #0a4832;
      background: #f2f6f4;
    }
  }
}
.section2-main {
  display: flex;
  gap: 30px;
  overflow: hidden;
  padding: 20px 0;

  .section2-leftsidecard {
    padding: 0px;
    width: 379px;
    min-width: 379px;
    height: 568px;
    background: #05422c;
    border-radius: 16px;
    .section2-leftsidecard-image {
      img {
        position: relative;
        z-index: 1;
      }
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      .section2-leftside-whitebg {
        position: absolute;
        left: 173.33px;
        top: -102px;
        width: 261.68px;
        height: 371px;

        background: linear-gradient(
          180deg,
          rgba(52, 102, 84, 0) 0%,
          rgba(52, 102, 84, 0.2) 100%
        );
        border-radius: 12px;
        transform: rotate(5deg);
      }
    }
    .section2-leftsidecard-text {
      text-align: center;
      padding: 0px 35px;
      h3 {
        color: #fff;
      }
      p {
        margin: 10px 0px 30px 0px;
      }
      a {
        font-size: 14px;
        color: #17af26;
      }
    }
  }
  .section2-products-main-slider {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    .toLeft,
    .toRight {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 30px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
      cursor: pointer;

      z-index: 8;
    }
    .toLeft {
      left: 30px;
    }
    .section2-products-main {
      display: flex;
      align-items: center;
      position: relative;
      scroll-behavior: smooth;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .section2-products-main-row {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .section2 {
    .section2-header {
      h1 {
        font-size: 40px;
        width: 100%;
      }
    }
  }
}
