.product-card {
  padding: 0px;
  width: 291px;
  background: #fff;
  .product-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 291px;
    height: 240px;
    background: #f4f4f4;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 164px;
      height: 164px;
      position: relative;
      z-index: 1;
    }
    .product-card-whitebg {
      position: absolute;
      width: 369px;
      height: 186px;
      left: calc(50% - 369px / 2);
      top: 131px;
      left: 50%;
      background: #e5e7e7b6;
      opacity: 0.4;
      transform: translateX(-50%);
      box-shadow: 0px 0px 20px rgba(229, 240, 236, 0.1);
      border-radius: 50%;
    }
  }
  .product-text {
    .product-text-header {
      padding: 30px 0px 15px 0px;
      text-align: center;
      h3 {
        font-size: 18px;
      }
      .product-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        .sm-line {
          margin: 0px 15px;
          width: 12px;
          height: 0px;
          border: 1px solid #c8c9cb;
          transform: rotate(90deg);
        }
        h4 {
          margin: 0px 10px;
        }
        p {
          transform: translateY(6px);
          color: rgba(200, 201, 203, 1);
        }
      }
      .sativa-procentage {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 92px;
        height: 28px;
        border-radius: 4px;
        margin: 10px auto 0px auto;
        p {
          height: 100%;
          width: 100%;
          margin-bottom: 0px;
          font-size: 12px;
          background: #f2f6f4;
          padding: 4px 10px 5px;
          color: rgba(5, 66, 44, 1);
        }
      }
    }
    .product-text-middle {
      text-align: center;
      h3 {
        color: #eb2606;
        span {
          color: #c8c9cb;
          font-size: 14px;
        }
      }
      .product-weights {
        display: flex;
        gap: 20px;
        justify-content: center;
        div {
          padding: 4px 10px 5px;
          gap: 12px;
          width: 50px;
          height: 32px;
          background: #ffffff;
          border: 1px solid #f4f4f4;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          p {
            color: #1a1e26;
            margin-bottom: 0px;
            font-size: 12px;
          }
        }
      }
      .add-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
        width: 128px;
        height: 40px;
        background: #17af26;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: 0px;
        outline: none;
        margin: 20px auto;
      }
    }
  }
}
