$White: #ffffff;
$White_: #f4f4f4;
$Black: #1a1e26;
$BlackAlt: #060709;
$Black_: #9d9ea2;
$PGreen: #05422c;
$PGreenAlt: #0d9d68;
$PGreenAlt2: #0a6845;
$Green_: #f2f6f4;
$Lime: #17af26;
$Lime_: #f3fbf4;
$Red: #eb2606;
$Red_: #eb25060a;
$Yellow: #f2bc1b;
$Yellow_: #fef8e8;
$GreenWhite: #9bdda2;
$Pgrey: #717378;
$Pgrey_: rgba(113, 115, 120, 0.8);
$Placeholder: #c8c9cb;
$NavGray: #46494f;
$FooterW: #c3d2cc;
$FooterPlaceHolder: #648a7c;

$FooterLinear1: rgba(26, 30, 38, 1);
$FooterLinear2: rgba(1, 16, 11, 1);
