* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #0a6845;
}

*::selection {
  background: #0d9d68;
  color: white;
}

body {
  margin: 0;
}

@font-face {
  font-family: main_l;
  src: url("./fonts/Lexend-Light.ttf");
}
@font-face {
  font-family: main_r;
  src: url("./fonts/Lexend-Regular.ttf");
}
@font-face {
  font-family: main_m;
  src: url("./fonts/Lexend-Medium.ttf");
}
@font-face {
  font-family: main_bold;
  src: url("./fonts/Lexend-Bold.ttf");
}
@font-face {
  font-family: main_sb;
  src: url("./fonts/Lexend-SemiBold.ttf");
}
.container {
  max-width: 90% !important;
}

h1 {
  font-family: main_bold;
  font-style: normal;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -4px;
  color: #f4f4f4;
}

h2 {
  font-family: main_bold;
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1.5px;
  color: #f4f4f4;
}

h3 {
  font-family: main_m;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: #1a1e26;
}

h4 {
  font-family: main_m;
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  color: #1a1e26;
}

p {
  font-family: main_r;
  font-size: 16px;
  line-height: 150%;
  color: #717378;
}

.addon_ {
  background: #f2f6f4;
  padding: 4px 16px 5px;
  border-radius: 8px;
  color: rgb(5, 66, 44);
}

.ButtonExample {
  font-family: main_r;
  padding: 15px 30px;
  border-radius: 30px;
  background: #17af26;
  color: white;
  border: 0;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.line_Split {
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: #f4f4f4;
}

.line_Split_ {
  height: 2px;
  width: 90%;
  margin: 10px 0;
  background: #f4f4f4;
}

.lineV {
  height: 20px;
  width: 2px;
  background: #f4f4f4;
  margin: 0 15px;
}