.products-main-slider {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.products-main-slider .toLeft,
.products-main-slider .toRight {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 8;
}
.products-main-slider .toLeft {
  left: 30px;
}
.products-main-slider .products-main {
  display: flex;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.products-main-slider .products-main::-webkit-scrollbar {
  display: none;
}
.products-main-slider .products-main .products-main-row {
  display: flex;
  gap: 30px;
  align-items: center;
}